<div class="row" style="margin-bottom: 5rem;">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h1>Transfer Money</h1>
        <hr>
        <app-transfer-money></app-transfer-money>
    </div>
</div>
<hr>
<div class="row" style="margin-top: 5rem;">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="bks-panel-heading">
                <div class="panel-heading">
                    <h1>Transfer History</h1>
                </div>
            </div>
            <div class="panel-body">
                <app-transfer-history></app-transfer-history>
            </div>
            <div class="panel-footer">
            </div>    
        </div>
    </div>
</div>
