<footer>
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid ftop">
                <ul class="top-block">
                    <li class="col-md-4">
                    <a class="tp fa fa-institution" href="#">
                        <span> About Us</span>
                    </a>
                    </li>
                    <li class="col-md-4">
                    <a class="tp fa fa-comments" href="#">
                        <span> Feedback</span>
                    </a>
                    </li>
                    <li class="col-md-4">
                    <a class="tp fa fa-address-book" href="#">
                        <span> Contact Us</span>
                    </a>
                    </li>
                </ul>
                <br>
            </div>
        </div>

  </div>
  <br>
  <div class="row">
        <div class="col-xs-12">
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nostrum recusandae nam. 
             Similique deleniti magni laudantium, ab animi molestias rem eveniet aut, eos voluptates dignissimos 
             autem cupiditate tempore placeat libero.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio similique libero veniam amet aliquam doloribus 
            nostrum nam qui in necessitatibus officia quod iste assumenda quis rerum suscipit quam dolores, ipsam totam? 
            Quas optio consequuntur ducimus nisi repudiandae est non amet, animi quos deserunt eaque sed ab quidem quaerat aut, 
            laborum doloremque a temporibus! Sint itaque eaque aperiam pariatur illum molestiae iure reprehenderit repudiandae 
            blanditiis? Rem eaque quo suscipit nisi molestias. Beatae ex expedita facilis voluptatum quo dolorem, aut explicabo, 
            commodi amet alias eaque ad sequi sed, suscipit perferendis ducimus doloribus asperiores porro? Libero reprehenderit 
            enim error quaerat? Tempore maxime, veniam dolore nisi ab iusto, esse, aperiam ad repellendus quam cumque dolorem laborum! 
            Quidem fugit rerum provident reprehenderit dignissimos molestias voluptas adipisci ipsum delectus, tenetur impedit! 
            Provident quasi ab fugit debitis id corporis tempora. Dignissimos delectus maiores veritatis minima vitae error 
            molestiae nesciunt nisi temporibus velit, tempora eligendi, accusantium fugiat repellat eum beatae impedit sequi quod, 
            iste aspernatur consectetur a! Veniam temporibus molestiae culpa, iure ut libero saepe! Nesciunt vero et hic dolores 
            excepturi est expedita! Ad, recusandae obcaecati. Voluptas, quas, saepe ab quisquam illo pariatur accusantium ad 
            sapiente molestias temporibus ipsam tenetur sequi ipsa recusandae atque inventore expedita, repellendus numquam.
            <br>
            <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, labore. Quos deleniti beatae consectetur adipisci neque, 
            ratione vel animi unde itaque consequatur porro sequi iure voluptates accusantium doloremque omnis provident? Itaque odit et 
            repudiandae provident commodi cupiditate, vitae enim, reiciendis iure aspernatur accusamus? Aliquid temporibus, hic consectetur 
            incidunt dolores veniam.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt esse, nobis odit eum expedita cumque dicta unde minima velit dolorum soluta ullam architecto 
            consequatur eaque, ex labore quas doloribus earum ad vitae. Et, maxime? Vitae aspernatur ea exercitationem laboriosam.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, temporibus! Molestiae, autem facere labore itaque ipsa illum cupiditate asperiores dolore!
            </p>
            <h5>Follow Us: </h5>
            <ul class="fs">
                <li class="bt-icon"><a href="#" class="bt fa fa-facebook-square"></a></li>
                <li class="bt-icon"><a href="#" class="bt fa fa-twitter-square"></a></li>
                <li class="bt-icon"><a href="#" class="bt fa fa-linkedin-square"></a></li>
                <li class="bt-icon"><a href="#" class="bt fa fa-youtube-play"></a></li>
            </ul>
        </div>
    </div>
</footer>
