<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Please Enter Account Information</h2>
        <hr>
        <form #addAcctForm="ngForm" (ngSubmit)="onSubmit(addAcctForm)">
            <div class="form-group">
                <label for="accountNumber">Account Number</label>
                <input type="number" id="accountNumber" class="form-control" ngModel name="accountNumber" required min="6">
            </div>
            <div class="form-group">
                <label for="routingNumber">Routing Number</label>
                <input type="number" id="routingNumber" class="form-control" ngModel name="routingNumber" required min="6">
            </div>
            <div class="form-group">
                <label for="accountDesc">Account Nickname</label>
                <input type="text" id="accountDesc" class="form-control" ngModel name="accountDesc" required min="4">
            </div>
            <div class="form-group">
                <label for="accountType">Account type</label>
                <select id="accountType" class="form-control" aria-placeholder="Select Account Type" ngModel name="accountType" required>
                    <option value="SAVING">SAVING</option>
                    <option value="CHECKING">CHECKING</option>
                    <option value="LOAN">LOAN</option>
                </select>
            </div>
            <div class="form-group">
                <label for="balance">Balance</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>	
                    <input type="number" id="balance" class="form-control" aria-label="Amount (rounded to the nearest dollar)" ngModel name="balance" required>
                    <!-- <span class="input-group-addon">.00</span> -->
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-link" (click)="closeModel()">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!addAcctForm.valid">Add Account</button>
            </div>
        </form>
    </div>
</div>

