<div class="row">
  <div [ngClass]="getAccountClass()">
    <div class="panel panel-default">
      <div class="panel-heading main-heading">
        <h1>Accounts</h1>
      </div>
      <div class="panel-body">
        <app-account-list></app-account-list>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4" *ngIf="splitSection">
    <div class="panel panel-default">
      <div class="panel-heading main-heading">
        <div [ngSwitch]="splitSection">
          <h2 *ngSwitchCase="'Details'">Details</h2>
          <h2 *ngSwitchDefault>...</h2>
        </div>
      </div>
      <router-outlet></router-outlet>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
      <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="addAccountForm">Add Account</button>
      <div id="addAccountForm" [ngbCollapse]="!isCollapsed">
        <br>
        <app-account-add></app-account-add>
      </div>
  </div>

</div>
