<div class="row">
  <div [ngClass]="getAccountClass()">
    <div class="panel panel-default">
      <div class="bks-panel-heading">
        <div class="panel-heading">
          <h1>Accounts</h1>
        </div>
      </div>
      <div class="panel-body">
        <app-account-list></app-account-list>
      </div>
      <div class="panel-footer">
        <h6>* Account list displayed here</h6>
      </div>
    </div>
    <div *ngIf="!isCollapsed" class="pull-right">
      <button
        type="button"
        class="btn btn-primary"
        title="Add Account"
        (click)="openAccountModel()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="addAccountForm"
      >
        <span
          class="glyphicon glyphicon-plus"
          aria-hidden="true"
          style="font-size: 20px;"
        ></span>
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-md-4" *ngIf="splitSection">
    <div class="panel panel-default">
      <div class="bks-panel-heading">
        <div class="panel-heading">
          <div [ngSwitch]="splitSection">
            <h2 *ngSwitchCase="'Details'">Details</h2>
            <h2 *ngSwitchDefault>...</h2>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <div id="addAccountForm" [ngbCollapse]="!isCollapsed">
      <br/>
      <app-account-add></app-account-add>
    </div>
  </div>
</div>
