<div class="row" style="margin-bottom: 3rem;">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>My Bills</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <app-bills-list></app-bills-list>
  </div>
</div>
<div class="row" style="margin-top: 2rem;">
  <div class="col-xs-12 col-md-10">
    <div *ngIf="!isCollapsed" class="pull-right">
      <button
        type="button"
        class="btn btn-primary"
        title="Add New Bill"
        (click)="openBillForm()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="addBillForm"
      >
        <span
          class="glyphicon glyphicon-plus"
          aria-hidden="true"
          style="font-size: 20px;"
        ></span>
      </button>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <div class="addBillForm" [ngbCollapse]="!isCollapsed">
      <app-bill-add></app-bill-add>
    </div>
  </div>
</div>
