.btn-primary {
    background-color: #0e0e46d2;
}

.bks-panel-heading {
    background-color: #0e0e46d2;
    color: white;
}

.under-construction {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

