.btn-primary {
    background-color: #0e0e46d2;
}

.main-heading {
    background-color: #0d6363;
}

.heading {
    background-color: #ffffff;
}

.under-construction {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

